@font-face {
    font-family: 'DinDini Brand';
    src: url('dindini-brand-webfont.eot');
    src: url('dindini-brand-webfont.eot?#iefix') format('embedded-opentype'), url('dindini-brand-webfont.woff') format('woff'), url('dindini-brand-webfont.ttf') format('truetype'), url('dindini-brand-webfont.svg#coffee_shopBdtrialversion') format('svg');
    font-weight: normal;
    font-style: normal;
}